.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  margin-bottom: 1rem;
  padding: 1rem 0;
}

.title {
  /* font-size: 1.5rem; */
  margin-bottom: 1rem;
}
