.container {
  display: flex;
  width: 100%;
  gap: 1rem;
  padding: 2rem;
  border: 1px solid var(--color-border);
  border-radius: 1rem;
}

.container button {
  font-weight: bold;
}

@media (max-width: 475px) {
  .container {
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
  } 
}