.btn {
  /* all: unset;
  cursor: pointer;
  border-radius: 4px; */
  cursor: pointer;
  border: none;
  border-radius: 5px;
  width: max-content;
  font-size: 1rem;
}

.default {
  padding: 0.5rem 1rem;
}

.btn:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.secondary {
  background-color: var(--color-secondary);
  color: var(--text-color);
  padding: 0.5rem 1rem;
  border: 1px solid var(--color-border)
}

.outline {
  background-color: transparent;
  color: var(--text-color);
  padding: 0.5rem 1rem;
  border: 1px solid var(--color-border);
  transition: border 0.2s ease-in-out;
}

.outline:hover {
  border: 1px solid var(--color-text);
}

.ghost {
  background-color: transparent;
  color: var(--text-color);
  padding: 0.5rem 1rem;
  border: 1px solid transparent;
  transition: background-color 0.2s ease-in-out;
}

.ghost:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.icon {
  color: var(--color-text);
  display: inline-flex;
  align-items: center;
  background-color: transparent;
  border: 1px solid transparent;
  /* border-radius: 50%; */
  padding: 0.5rem;
  transition: background-color 0.2s ease-in-out;
}

.icon:active {
  background-color: rgba(0, 0, 0, 0.1);
}


.withIcon {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}

.svgIcon {
  display: inline-flex;
  align-items: center;
}

.fixedWidth {
  width: 120px;
}
