.container {
  /* display: flex; */
  text-align: center;
  justify-content: center;
  margin-top: 100px;
}

.formContainer {
  width: 100%;
  max-width: 400px;
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  text-align: center;
}

.inputGroup {
  position: relative;
  margin-bottom: 1rem;
  /* color: var(--color-text); */
}

.icon {
  position: absolute;
  top: 50%;
  left: 0.75rem;
  transform: translateY(-50%);
  color: var(--color-text-muted);
}

.input {
  width: 100%;
  padding: 0.75rem 0.75rem 0.75rem 2.5rem;
  border: 1px solid var(--color-border);
  background-color: var(--color-bg);
  color: var(--color-text);
  border-radius: 0.5rem;
  outline: none;
  font-size: 1rem;
}

.button {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid var(--color-border);
  border-radius: 0.5rem;
  background-color: var(--color-bg);
  color: var(--color-text);
  font-weight: 500;
  font-size: 1rem;
  margin-top: 0.5rem;
}

.divider {
  text-align: center;
  margin: 1rem 0;
  color: var(--color-text-muted);
}

.oauthButtons {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 0.5rem;
}

.oauth {
  flex: 1;
  border: 1px solid var(--color-border);
  display: flex;
  justify-content: center;
  color: var(--color-text);
  background-color: var(--color-bg);
}

.loginLink {
  text-align: center;
  margin-top: 1rem;
}

.loginLink a {
  /* color: var(--color-primary); */
  text-decoration: underline;
}
