.bar {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  border-radius: 1rem;
  gap: 1rem;
  box-shadow: 0px 0px 17px -4px rgba(0, 0, 0, 0.58);
  -webkit-box-shadow: 0px 0px 17px -4px rgba(0, 0, 0, 0.58);
  -moz-box-shadow: 0px 0px 17px -4px rgba(0, 0, 0, 0.58);
}

.fixedBar {
  position: fixed;
  left: 4rem;
  right: 4rem;
  z-index: 10;
  top: 30px;
  background-color: var(--color-bg);
  animation: scale 0.3s ease-in-out;
}

.active {
  background-color: var(--color-border);
}
.editor {
  padding: 1rem 0;
}

.editor [role='textbox'] {
  padding: 1rem 0;
  outline: none;
  min-height: 500px;
}

.bar input[type='file'] {
  display: none;
}

.editor img {
  max-width: 100%;
  max-height: 600px;
  border-radius: 0.5rem;
}

.tools {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.publish button {
  border-radius: 2rem;

  color: var(--color-surface);
  background-color: var(--color-success);
}

.publish:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.codeBlock {
  background-color: var(--color-primary);
  padding: 1rem;
  border-radius: 0.5rem;
  overflow-x: auto;
  color: var(--color-surface);
}

.bulletList {
  list-style-type: disc;
  padding-left: 1.5rem;
  margin: 1rem 0;
}

.orderedList {
  list-style-type: decimal;
  padding-left: 1.5rem;
  margin: 1rem 0;
}

.blockquote {
  border-left: 4px solid var(--color-border);
  padding-left: 1rem;
  margin: 1rem 0;
  color: var(--text-color);
}

.modalContent {
  display: flex;
  gap: 1rem;

  /* margin: 1rem 0; */
}

.saveDraftButton {
  background-color: #e6f0ff;
  color: #2a62b8;
  border: 1px solid #b3d1ff;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.saveDraftButton:hover {
  background-color: #d0e4ff;
}

.saveInfo {
  color: var(--color-text-muted);
  /* min-width: 150px; */
  display: inline-flex;
  align-items: center;
  font-size: 0.75rem;
}


@keyframes scale {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@media (max-width: 768px) {
  .bar {
    flex-wrap: wrap;
  }

  .tools {
    flex-wrap: wrap;
  }
}
